{% extends "matakuliah/data-kuliah-prodi/main.html" %}
{% block table %}

{% if path == '/matakuliah/semester1' %}
  <tbody>
    {% for item in matakuliah %}
    <tr>
      <td>{{item.0}}</td> 
      <td>{{item.1}}</td>
      <td>{{item.2}}</td>
      <td>{{item.3}}</td>
      <td>{{item.4}}</td>
      <td>
        <a href="/matakuliah/edit/{{item.0}}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Ubah</a>
        <a href="/matakuliah/delete/{{item.0}}" class="btn btn-danger btn-delete" onclick="return confirm('Yakin???')"><i class="fa-solid fa-trash"></i> Hapus</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>

{% if path == '/matakuliah/semester2' %}
  <tbody>
    {% for item in matakuliah %}
    <tr>
      <td>{{item.0}}</td> 
      <td>{{item.1}}</td>
      <td>{{item.2}}</td>
      <td>{{item.3}}</td>
      <td>{{item.4}}</td>
      <td>
        <a href="/matakuliah/edit/{{item.0}}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Ubah</a>
        <a href="/matakuliah/delete/{{item.0}}" class="btn btn-danger btn-delete" onclick="return confirm('Yakin???')"><i class="fa-solid fa-trash"></i> Hapus</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>

{% if path == '/matakuliah/semester3' %}
  <tbody>
    {% for item in matakuliah %}
    <tr>
      <td>{{item.0}}</td> 
      <td>{{item.1}}</td>
      <td>{{item.2}}</td>
      <td>{{item.3}}</td>
      <td>{{item.4}}</td>
      <td>
        <a href="/matakuliah/edit/{{item.0}}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Ubah</a>
        <a href="/matakuliah/delete/{{item.0}}" class="btn btn-danger btn-delete" onclick="return confirm('Yakin???')"><i class="fa-solid fa-trash"></i> Hapus</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>

{% if path == '/matakuliah/semester4' %}
  <tbody>
    {% for item in matakuliah %}
    <tr>
      <td>{{item.0}}</td> 
      <td>{{item.1}}</td>
      <td>{{item.2}}</td>
      <td>{{item.3}}</td>
      <td>{{item.4}}</td>
      <td>
        <a href="/matakuliah/edit/{{item.0}}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Ubah</a>
        <a href="/matakuliah/delete/{{item.0}}" class="btn btn-danger btn-delete" onclick="return confirm('Yakin???')"><i class="fa-solid fa-trash"></i> Hapus</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>

{% if path == '/matakuliah/semester5' %}
  <tbody>
    {% for item in matakuliah %}
    <tr>
      <td>{{item.0}}</td> 
      <td>{{item.1}}</td>
      <td>{{item.2}}</td>
      <td>{{item.3}}</td>
      <td>{{item.4}}</td>
      <td>
        <a href="/matakuliah/edit/{{item.0}}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Ubah</a>
        <a href="/matakuliah/delete/{{item.0}}" class="btn btn-danger btn-delete" onclick="return confirm('Yakin???')"><i class="fa-solid fa-trash"></i> Hapus</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>

{% if path == '/matakuliah/semester6' %}
  <tbody>
    {% for item in matakuliah %}
    <tr>
      <td>{{item.0}}</td> 
      <td>{{item.1}}</td>
      <td>{{item.2}}</td>
      <td>{{item.3}}</td>
      <td>{{item.4}}</td>
      <td>
        <a href="/matakuliah/edit/{{item.0}}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Ubah</a>
        <a href="/matakuliah/delete/{{item.0}}" class="btn btn-danger btn-delete" onclick="return confirm('Yakin???')"><i class="fa-solid fa-trash"></i> Hapus</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>

{% if path == '/matakuliah/semester7' %}
  <tbody>
    {% for item in matakuliah %}
    <tr>
      <td>{{item.0}}</td> 
      <td>{{item.1}}</td>
      <td>{{item.2}}</td>
      <td>{{item.3}}</td>
      <td>{{item.4}}</td>
      <td>
        <a href="/matakuliah/edit/{{item.0}}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Ubah</a>
        <a href="/matakuliah/delete/{{item.0}}" class="btn btn-danger btn-delete" onclick="return confirm('Yakin???')"><i class="fa-solid fa-trash"></i> Hapus</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>

{% if path == '/matakuliah/semester8' %}
  <tbody>
    {% for item in matakuliah %}
    <tr>
      <td>{{item.0}}</td> 
      <td>{{item.1}}</td>
      <td>{{item.2}}</td>
      <td>{{item.3}}</td>
      <td>{{item.4}}</td>
      <td>
        <a href="/matakuliah/edit/{{item.0}}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Ubah</a>
        <a href="/matakuliah/delete/{{item.0}}" class="btn btn-danger btn-delete" onclick="return confirm('Yakin???')"><i class="fa-solid fa-trash"></i> Hapus</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>

  

        <a href="/matakuliah/edit/{{item.0}}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Ubah</a>
        <a href="/matakuliah/delete/{{item.0}}" class="btn btn-danger btn-delete" onclick="return confirm('Yakin???')"><i class="fa-solid fa-trash"></i> Hapus</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
{% endif %}
{%endblock%}